<!-- Page Content  -->
<div id="content" class="p-4 p-md-5">
  <div class="box-header d-flex justify-content-between align-items-center">
    <h3 class="box-title"><b>Type Report Table</b></h3>
    <button class="btn btn-primary" onclick="goNew();">New</button>
  </div><!-- /.box-header -->
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Report Type</th>
      </tr>
    </thead>
    <tbody>
      {{#each ty}}
      <tr>
        <td>{{index}}</td>
        <td>{{nameType}}</td>
        <td>
          <button class="btn btn-outline-warning" onclick="goEdit('{{_id}}');">Edit</button>
          <button class="btn btn-outline-dark" onclick="goDel('{{_id}}');">Delete</button>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
</div>

<script>


  //chuyển sang trang new
  const goNew = () => {
    window.location.href = `/types/new`;
  }

  const goEdit = (id) => {
    window.location.href = `/types/${id}/edit`;
  }

  function goDel(id) {
    if (confirm("Ban co chac muon xoa?")) {
      location.href = `/types/${id}/deleteById`;
    }
  }
</script>