<div class="container mt-3">
  <form action="/types/new" method="post" >
    <legend>Insert Report Type</legend>
    <div class="mb-3">
      <label for="nameType" class="form-label">Report Type: </label>
      <input type="text" class="form-control" name="nameType" placeholder="Enter report type">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
