<div class="container mt-3">
  <form action="/reports/new" method="post" enctype="multipart/form-data">
    <legend>Insert Report</legend>
    <div class="mb-3">
      <label for="reportType" class="form-label">Report Type: </label>
      <input type="text" class="form-control" name="reportType" placeholder="Enter report type">
    </div>
    <div class="mb-3">
      <label for="address" class="form-label">Address: </label>
      <input type="text" class="form-control" name="address" placeholder="Enter address">
    </div>
    <div class="mb-3">
      <label for="describe" class="form-label">Description: </label>
      <textarea class="form-control" name="describe" placeholder="Enter description"></textarea>
    </div>
    <div class="mb-3">
      <label for="evaluate" class="form-label">Evaluate: </label>
      <input type="text" class="form-control" name="evaluate" placeholder="Enter evaluate">
    </div>
    <div class="mb-3">
      <label for="timeDone" class="form-label">Time Done: </label>
      <input type="text" class="form-control" name="timeDone" placeholder="Enter time done">
    </div>
    <div class="mb-3">
      <label for="timeStamp" class="form-label">Time Stamp: </label>
      <input type="text" class="form-control" name="timeStamp" placeholder="Enter time stamp">
    </div>
    <div class="mb-3">
      <label for="note" class="form-label">Note: </label>
      <textarea class="form-control" name="note" placeholder="Enter note"></textarea>
    </div>
    <div class="mb-3">
      <label for="formFileSm" class="form-label">Images: </label>
      <input type="file" name="images" id="images" multiple onchange="previewImages(event)" /> <br />
      <div id="image-preview-container">
        <!-- Hiển thị hình ảnh đã chọn -->
      </div> 
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

<script>
  const previewImages = function (event) {
    const previewContainer = document.getElementById('image-preview-container');
    previewContainer.innerHTML = ''; 

    for (const file of event.target.files) {
      const reader = new FileReader();
      reader.onload = function () {
        const img = document.createElement('img');
        img.src = reader.result;
        img.className = 'preview-image';
         img.style.width = '150px'; 
        img.style.height = '150px'; 
        previewContainer.appendChild(img);
      };
      reader.readAsDataURL(file);
    }
  };
</script>